


  .CalendarDay__default {
    color: white;
    background-color: black;
    border: none; 
}
  .CalendarDay__selected:hover {
    background: #e4bf00;
    color: white;
    border: none
  }
  .CalendarDay__selected {
    background-color: #e4bf00;
    color: white;
    border: none
  }
  
.CalendarDay__selected_span {
    background-color: #e4bf00;
    color: white; 
    border: 1px solid #e4bf00
  }
  .CalendarDay__hovered_span:hover,
  .CalendarDay__hovered_span {
    background: #e4bf00;
    border: 0.5 solid white;
    color: white
  }
  .DateRangePickerInput_arrow_svg {
      fill: white;
  }
  .DateInput {
      background-color: transparent;
      color: white;
  }

  input.DateInput_input:focus, textarea.DateInput_input:focus {
      border: none !important;
  }

  .DateRangePickerInput {
        background-color: transparent;
        opacity: 0;
        position: absolute;
        top: -90px;
        width: 210px;
        max-height: 47px;
        z-index: -50;
  }
  .DateRangePickerInput:focus {
      border: none
  }
  .DateInput_input {
      background-color: transparent;
      color: white 

  }
  .DateInput_input__focused_2 {
    border: none
  }
  .DateInput_input {
      color: white
  }

  .DayPickerNavigation_svg__horizontal {
      fill: #e4bf00;
  }
  .DayPicker__horizontal {
      background-color: transparent;
  }

  .process-wrapper .process-step.active .process-content button {
      display: none
  }

  .CalendarDay {
      vertical-align: middle;
      padding: 2px

  }
  .CalendarDay:hover {
      border: none
  }
  
  table tr td.CalendarDay:last-child {
      padding-right: 0px !important;
  }

  table tr td.CalendarDay:hover {
      cursor: pointer;
      color: white;
  }

  .CalendarMonth_table tr td {
    padding: 0 !important;
  }
     
  input:focus {
      border: none
  }

  .DateRangePickerInput__withBorder { 
      border: 1px solid #e4bf00
  }

  .DateInput_input__focused, .DateInput_input__focused_2 {
      border: none
  }

  .CalendarMonthGrid {
      background-color: black;
      
  }

  .CalendarMonth {
      background-color: black;
  }

  .CalendarDay__default:hover {
      background-color: none;
  }

  td:hover {
      background-color: none;
  }
  .DayPickerNavigation_button__default {
      background-color: transparent;
  }

  .process-wrapper .process-step .process-content ul.DayPicker_weekHeader_ul {
      flex-direction: row !important;
      justify-content: space-between;
  }

  .DayPicker_weekHeader__vertical[style] {
      width: 93%;
      padding: 0 !important;
  }
  
  .DayPicker_weekHeaders__horizontal {
      margin-left: 20px;
  }
  .CalendarMonth_caption {
      padding-bottom: 60px;
  }
  .DateRangePicker_picker[style] {
      background-color: black;
      border: 1px solid #e4bf00;
      position: absolute;
      top: 0 !important;
  }

  .DayPickerNavigation_button__default {
      border: none;
      color: #e4bf00;
  }

  .DayPickerNavigation_button__default:active {
      background-color: transparent;
      outline: none
  }

  .CalendarDay__default:hover {
      background-color: #e4bf00;
  }

  .process-wrapper .process-step.active .process-content button {
      display: none !important;
  }
  .DayPicker_transitionContainer {
      height: 280px;
      width: 350px;
  }
  .CalendarMonth {
      width: 350px;
  }

  .DayPickerNavigation_button__verticalDefault {
      height: 20px;
      width: 20px;
  }

  .DayPickerNavigation_button__verticalDefault > svg {
      display: none;
  }


  .DayPickerNavigation__verticalDefault {
      left: auto;
      bottom: auto;
      right: 10px !important;
      top: 10px !important;
      width: auto;
  }

  .DayPickerNavigation_button__default {
      left: auto;
      bottom: auto;
      right: 0 !important;
      top: 0 !important;
      width: 30px;
      height: 20px;
  }

  .DayPickerNavigation_button__default:hover {
      outline: none;
      border: none;
  }
  .DayPickerNavigation_button__default:focus {
    outline: none;
    border: none;
}

  .CalendarMonthGrid__vertical[style] {
      width: 420px !important;
  }

  .DayPicker_focusRegion {
      height: 260px; 
      overflow: hidden;
      background-color: black;
  }
  .CalendarMonth_caption {
      padding-bottom: 50px;
  }
  .DayPickerNavigation_nextButton__verticalDefault {
    background: url('../img/baseline-keyboard_arrow_down-24px.svg') center no-repeat;
  }

  .DayPickerNavigation_prevButton__verticalDefault {
      background: url('../img/baseline-keyboard_arrow_up-24px.svg') center no-repeat;
  }

  .CalendarMonth_caption {
      text-align: left;
      padding-left: 13px;
  }

  .CalendarMonth_table  {
      width: 94%;
  }
  .CalendarDay__blocked_out_of_range, 
  .CalendarDay__blocked_out_of_range:active, 
  .CalendarDay__blocked_out_of_range:hover {
      color: grey !important;
      background-color: transparent;
  }

  .CalendarMonth_table td{
      height: 30px !important;
  }

  .DateInput_fang {
      display: none;
  }
  

  .DayPickerKeyboardShortcuts_buttonReset.DayPickerKeyboardShortcuts_buttonReset_1.DayPickerKeyboardShortcuts_show.DayPickerKeyboardShortcuts_show_2.DayPickerKeyboardShortcuts_show__topRight.DayPickerKeyboardShortcuts_show__topRight_3 {
    display: none !important;
}

.DateRangePicker {
    position: absolute;
    top: 90px;
    left: 70px;
}
  

