@media (min-width: 768px) and (max-width: 1024px) {
  .main-titles-container .main-titles {
    min-width: 55%;
  }
  .main-titles-container .main-titles h1 {
    font-size: 3.5vw;
    line-height: 3.8vw;
  }
  .main-titles-container .main-titles p {
    font-size: 2vw;
    line-height: 2.5vw;
  }
  .yellow-square {
    height: 14vw;
    width: 14vw;
  }
  .button-container {
    max-width: 80%;
  }
  .btn {
    padding: 1.2vw 5.5vw;
    font-size: 2.2vw;
  }
  footer .icon, footer #arrow {
    width: 1.2vw;
    height: 1.2vw;
    padding: 1vw;
  }
  footer .icon i, footer #arrow i {
    font-size: 1.3vw;
  }
  .form-container form {
    width: 100%;
  }
  .form-container .offer-data td, .form-container .offer-data input {
    font-size: 1.5vw;
  }
  section.received-info .btn {
    width: 50%;
  }
  section.property .main-titles {
    top: 20vw;
  }
  .process-diagram div.bg-yellow {
    height: 1.5vw;
    font-size: 2.2vw;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .main-titles-container .main-titles {
    min-width: 70%;
  }
  .main-titles-container .main-titles h1 {
    font-size: 4.5vw;
    line-height: 4.9vw;
  }
  .main-titles-container .main-titles p {
    font-size: 2.5vw;
    line-height: 3vw;
  }
  .main-titles-container .main-titles h1, .main-titles-container .main-titles p {
    padding-top: 3.4vw;
    padding-left: 5vw;
  }
  .yellow-square {
    height: 16vw;
    width: 16vw;
  }
  .button-container {
    max-width: 85%;
  }
  .btn {
    padding: 1.4vw 8vw;
    font-size: 2.5vw;
  }
  footer .icon, footer #arrow {
    width: 1.5vw;
    height: 1.5vw;
    padding: 1.7vw;
  }
  footer .icon i, footer #arrow i {
    font-size: 1.5vw;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  header #logo {
    height: 4vw;
    width: 18vw;
  }
  header nav a {
    font-size: 1.4vw;
  }
  .main-titles-container .main-titles {
    min-width: 80%;
  }
  .main-titles-container .main-titles h1 {
    font-size: 5vw;
    line-height: 5.3vw;
  }
  .main-titles-container .main-titles p {
    font-size: 3.2vw;
    line-height: 3.6vw;
  }
  .main-titles-container .main-titles h1, .main-titles-container .main-titles p {
    padding-top: 5vw;
    padding-left: 6vw;
  }
  .yellow-square {
    height: 18vw;
    width: 18vw;
  }
  .button-container {
    max-width: 80%;
  }
  .btn {
    padding: 1.6vw 8.3vw;
    font-size: 2.6vw;
  }
  footer .social-icons {
    max-width: 60%;
  }
  footer .icon {
    width: 2.4vw;
    height: 2.4vw;
    padding: 0.5vw 1.5vw 3vw 2vw;
  }
  footer .icon i {
    font-size: 2vw;
  }
  footer #arrow {
    width: 2.4vw;
    height: 2.4vw;
    padding: 0.5vw 2vw 3vw 1.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  footer #arrow i {
    margin: auto;
    font-size: 2.5vw;
  }
}

@media (max-width: 767px) {
  input.success {
    display: none;
  }
  .form-container {
    width: 80%;
  }
  .form-container form input, .form-container form textarea, .form-container form select, .form-container form select:not(.prop) {
    font-size: 2vw !important;
    padding: 2vw;
    margin-bottom: 3vw;
  }
  .form-container form label.one-third {
    height: 6.5vw !important;
    margin-bottom: 3vw;
  }
  .form-container form textarea {
    height: 12vw;
  }
  .form-container form .btn-container {
    height: 7vw;
  }
  .form-container form .btn-container .upload-btn {
    height: 100%;
    font-size: 1.5vw;
  }
  .form-container form .submit-btn {
    font-size: 2vw;
  }
  section.acquisition-criteria .form-container form input, section.acquisition-criteria .form-container form textarea, section.acquisition-criteria .form-container form label, section.asking-price .form-container form input, section.asking-price .form-container form textarea, section.asking-price .form-container form label {
    min-width: 100% !important;
  }
  section.acquisition-criteria .form-container .form-line, section.asking-price .form-container .form-line {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section.acquisition-criteria .form-container .btn-container, section.asking-price .form-container .btn-container {
    min-width: 100% !important;
  }
  label {
    font-size: 2vw;
    padding-bottom: 2vw;
  }
  .title {
    font-size: 4vw;
    padding-bottom: 3vw;
  }
  section.property .container h1:nth-child(2), section.login-success .container h1:nth-child(2), section.login-fail section.buyer-offers .container h1:nth-child(2), section.price-high .container h1:nth-child(2) {
    font-size: 4vw !important;
  }
  section.property .container h1:nth-child(3), section.login-success .container h1:nth-child(3), section.login-fail section.buyer-offers .container h1:nth-child(3), section.price-high .container h1:nth-child(3) {
    font-size: 3vw;
  }
  section.property .container p, section.login-success .container p, section.login-fail section.buyer-offers .container p, section.price-high .container p {
    font-size: 3vw;
  }
  button[type="submit"] {
    width: 20vw;
    height: 6vw;
    font-size: 2vw;
  }
  header {
    padding-top: 2vw;
  }
  header #logo {
    height: 4vw;
    width: 18vw;
  }
  header nav a {
    font-size: 1.6vw;
  }
  #page-switcher-container ul li {
    padding: 1.2vw;
  }
  #page-switcher-container ul li a {
    font-size: 1.6vw;
  }
  .currency {
    height: 8vw;
  }
  .container .properties {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .properties .info-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
    margin-bottom: 6vw;
  }
  .container .properties .info-box:child-of-type(even) {
    margin-right: 2vw;
  }
  .container .properties .info-box .info {
    margin-right: 0;
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    margin-bottom: 2vw;
    font-size: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  .container .properties .info-box button {
    padding-top: 2vw;
    padding-bottom: 2vw;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 1.5vw;
  }
  .split.left .full-width .main-titles-container .main-titles {
    min-width: 90%;
  }
  .split.left .button-container {
    margin-top: 6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 80% !important;
  }
  .split.left .button-container .button {
    min-width: 25%;
    font-size: 2.5vw;
    padding: 2vw 4vw;
  }
  .split.right {
    display: none;
  }
  section.received-info ul.check {
    max-width: 60%;
  }
  section.received-info ul.check li {
    font-size: 2.3vw;
    margin-bottom: 2vw;
    background-size: 1.5vw;
    padding-left: 4vw;
    line-height: 2.7vw;
  }
  section.received-info .btn {
    width: 50%;
  }
  .numbers-container .item {
    min-width: 45%;
    margin-bottom: 4vw;
  }
  .numbers-container .item h1 {
    font-size: 7vw;
  }
  .numbers-container .item p {
    font-size: 2.5vw;
  }
  .status-report button {
    padding: 2vw 4vw;
    font-size: 2.5vw;
    width: 50%;
  }
  #sign {
    padding: 2vw 5vw;
    max-width: 70%;
  }
  button {
    padding: 2vw 4vw;
    font-size: 2.5vw;
    max-width: 100%;
  }
  section.property .main-titles {
    top: 25vw;
  }
  section.property .form-container form {
    width: 95%;
  }
  section.property .form-container form .row {
    max-height: 20vw;
  }
  section.property .form-container form input, section.property .form-container form label span {
    font-size: 2.2vw;
  }
  section.property .form-container form button {
    font-size: 2.2vw !important;
  }
  section.login-fail h1:nth-child(2) {
    line-height: 5vw;
  }
  section.login-fail .container {
    width: 75%;
  }
  section.login-fail .form-container form .btn-container .upload-btn {
    font-size: 2.5vw;
    max-width: 85% !important;
  }
  section.seller-offers body {
    background-color: black;
  }
  section.seller-offers .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.seller-offers .container .user-info-container {
    margin: 0 auto;
    border-right: none;
    font-size: 1.4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 4vw;
  }
  section.seller-offers .container .user-info-container .userpic-container {
    margin-right: 6vw;
  }
  section.seller-offers .container .user-info-container .user-info {
    height: 100%;
  }
  section.seller-offers .container .content-top .diagram, section.seller-offers .container .content-top .tours-schedule {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  section.seller-offers .container table.offers-list {
    width: 95%;
    margin-top: 4vw;
  }
  section.seller-offers .container table.offers-list td {
    font-size: 1.5vw;
    line-height: 2.1vw;
  }
  section.seller-offers .container table.tours-schedule td {
    font-size: 1.2vw;
    line-height: 1.5vw;
  }
  section.seller-offers .process-diagram {
    padding-bottom: 55%;
    padding-top: 10vw;
  }
  section.seller-offers .process-diagram div.bg-yellow {
    height: 2vw;
    width: 40%;
    font-size: 2.5vw;
  }
  section.seller-offers .process-diagram a {
    padding-bottom: 3.5vw;
  }
  section.offer .back {
    max-width: 50vw;
  }
  section.offer .form-container {
    max-width: 90%;
  }
  section.offer .form-container.offer td {
    font-size: 2vw;
  }
  section.offer .form-container.offer input, section.offer .form-container.offer label span {
    font-size: 2vw;
  }
  input[type="search"] {
    background-size: 10vw auto;
  }
  select {
    background-size: 20% !important;
  }
  form#acquisition select {
    background-size: 5% !important;
  }
}

@media (max-width: 480px) {
  .numbers-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .numbers-container .item {
    min-width: 70%;
  }
  .numbers-container .item h1 {
    font-size: 9vw;
  }
  .numbers-container .item p {
    font-size: 3.5vw;
  }
  section.property .main-titles {
    top: 50vw;
  }
  .back {
    max-width: 50vw;
  }
  section.offer .back {
    max-width: none;
  }
  section.offer .form-container {
    max-width: 90%;
  }
  section.offer .form-container form {
    width: 100%;
  }
  section.offer .form-container .offer-data td, section.offer .form-container .offer-data input {
    font-size: 3vw !important;
  }
  section.offer .form-container .offer-data table {
    width: 90%;
  }
  section.offer .form-container.offer td {
    font-size: 2vw;
    padding: 1.5vw 2.042vw 1.3vw 4.5625vw !important;
  }
  section.offer .form-container.offer input, section.offer .form-container.offer label span {
    font-size: 2vw;
  }
}
/*# sourceMappingURL=responsive.css.map */